<ion-tabs>
  <ion-tab tab="saldo">
    <ion-router-outlet name="saldo"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="extrato">
    <ion-router-outlet name="extrato"></ion-router-outlet>
  </ion-tab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="saldo" href="/inicio/(saldo:saldo)">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Saldo</ion-label>
    </ion-tab-button>
    <ion-avatar *ngIf="usuario$ | async as usuario">
      <img [src]="usuario.foto">
    </ion-avatar>
    <ion-tab-button tab="extrato" href="/inicio/(extrato:extrato)">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Extrato</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
