<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <app-voltar></app-voltar>
    </ion-buttons>
    <ion-title>Extrato</ion-title>
    <ion-buttons slot="end">
      <app-sair></app-sair>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="transacoes$ | async as transacoes">
    <ion-item *ngIf="!transacoes.length">
      <ion-label text-wrap>
        <h3>Nenhuma transação cadastrada até o momento!</h3>
        <p>Precione o botão (+) no canto inferior direito para cadastrar.</p>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let transacao of transacoes" (click)="editarTransacao(transacao)">
      <ion-label>
        <div class="data-cadastro">
          {{ transacao.dataCadastro | formatarData:'distancia' }}
        </div>
        <div [ngClass]="transacao.tipo === 'Despesa' ? 'despesa' : 'receita'">
          <h2><b>{{ transacao.tipo }}</b></h2>
          <p><b>Data:</b> {{ transacao.dataTransacao | formatarData:'DD [de] MMMM [de] YYYY' }}</p>
          <p><b>Valor:</b> {{ (transacao.valor || 0) | formatarValor:'R$ ' }}</p>
        </div>
        <p *ngIf="transacao.caixaFinanceiro$ | async as caixa">
          <b>Caixa:</b> {{ caixa.nome }} ({{ caixa.tipo }})
        </p>
        <p><b>Descrição:</b> {{ transacao.descricao }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="adicionarTransacao()" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
