cdk-virtual-scroll-viewport {
  width: 100%;
  height: 100%;
}

cdk-virtual-scroll-viewport /deep/ .cdk-virtual-scroll-content-wrapper {
  max-width: 100%;
}

.receita {
  color: var(--ion-color-secondary);
}

.despesa {
  color: var(--ion-color-danger);
}

.data-cadastro {
  text-align: right;
  font-size: 0.7rem;
}
