<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Extrato</ion-title>
    <ion-buttons slot="end">
      <app-sair></app-sair>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="transacoes$ | async as transacoes">
    <ion-item *ngIf="!transacoes.length" text-wrap>
      Nenhuma transação cadastrada até o momento!
    </ion-item>
    <ion-item *ngFor="let transacao of transacoes" (click)="editarTransacao(transacao)">
      <ion-label>
        <div [ngClass]="transacao.tipo === 'Despesa' ? 'despesa' : 'receita'">
          <h2><b>{{ transacao.tipo }}</b> ({{ transacao.dataTransacao }})</h2>
          <p><b>Valor:</b> {{ (transacao.valor || 0) | currency:'BRL' }}</p>
        </div>
        <p *ngIf="transacao.caixaFinanceiro$ | async as caixa">
          <b>Caixa:</b> {{ caixa.nome }} ({{ caixa.tipo }})
        </p>
        <p><b>Descrição:</b> {{ transacao.descricao }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <app-adicionar></app-adicionar>
  </ion-fab>
</ion-content>
